<!DOCTYPE html>
<html>
    <head>
        <title>Challenge</title>
    </head>
    <body>
        <h2>Stage 3: No Hints</h2>
        <h3>This is quite literally the simplest cipher the twist is that there are no hints or keys given to crack it.</h3>
        <p>Ytpjs: IFVsgkIzrWwflNooIXEj</p>
        <form action="/token/" method="post">
            <label for="token">Enter Token: </label>
            <input id="token" type="text" name="token" required>
            <input type="submit" value="OK">
        </form>
    </body>
</html>