<!DOCTYPE html>
<html>
    <head>
        <title>Challenge</title>
    </head>
    <body>
        <h2>Stage 5: Final Stage</h2>
        <h3>The only hint that I can give is that multiple ciphers were used while creating this ciphertext. Good luck, you are almost there.</h3>
        <p>U1zcd 3j4ju p0fc, 731 mndbb p8g 4jt3 d3q 43qf. Bqu z6x i5661z tyq3 c6p 1rpc3.
            76i·726rsn·otufi·zasv·ej8·xv1iauoko.qqxdyaotr2.RZS8CE9AD·69·6N·QKw·3u,yX9Ry.cOP·Hkjf·64·SkCM·T·JKB4ZQ284·XOUP1U·3AX6YR·H6Zxwx5g0j1,gpadav·kup?S2dcm17·6'·ny·gl6·0·0hwk4dt7·7bud2y2g·t·k6pyc·l4vt·Rba·0·tu2ymz·jrq173t2·OFF6Y4V9BB4344FHQY·4O,M0tQtQ1w.IJ·3·A·87··6JS·mJk·a·s9QtQ·Beys1w5Ca·2d·T·9Nad·sjNS·5·ia·M3.zMP,FT1DU·72IH711U94·YSSOMT·Y5DX42·NM918R·304TOM·R0T8BZ·2XIc·33···x·1u··d5ku0v3ut··7z3·6wo·21t·wdzb·1l·hqMQ1B1GB46.f·M9·B'LygCEzC·LD·dT··3jE9aQ59GOeLI9=M=Q.X·S·8EU7UK·GBX3W7·42PTNKW
            </p>
        <form action="/token/" method="post">
            <label for="token">Enter Token: </label>
            <input id="token" type="text" name="token" required>
            <input type="submit" value="OK">
        </form>
        <p style="color:white">Glad you looked, here is the key: pTiUuSJGFDMmtZlwncaZ and here is the alphabet: ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</p>
    </body>
</html>